
/*
 In general follow the pattern where each application has a /APP-NAMESPACE with specific rules underneath
*/
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global deny-all fallback
    match /{document=**} {
      allow read, write: if false;
    }

    // application-tracker
    match /application-tracker {
      match /{applicationId} {
        allow read, update, delete: if request.auth != null &&
          resource.data.userId == request.auth.uid;
        allow create: if request.auth != null &&
          request.resource.data.userId == request.auth.uid;
      }
    }

    // show-tracker
    match /show-tracker {
      // If you want a show cache or other shared collections for show-tracker:
      // match /shows/{id} {
      //   allow read: if true;
      //   allow write: if false; // only Functions/admin write
      // }
      // show-tracker
      match /{uid}/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }

    // katas
    match /katas {
      match /{kataId} {
        allow read: if true;
        allow write: if request.auth != null;
      }
    }

    // cache_recipes
    match /cache_recipes {
      match /{rid} {
        allow read: if true;
        allow write: if false;
      }
    }
  }
}